<div class="col-xs-5 col-md-5" *ngIf="photos.length>0">
  <div class="row">
      <a
      style="cursor: pointer;"
      (click)="edit()"
      routerLinkActive="active"
      class="list-group-item">
        <span *ngIf="photos.length>0">
          <img
            [src]="'/uploads/' + photos[0].fileName"
            [alt]="'/uploads/' + photos[0].fileName"
            class="img-responsive center">
        </span>
      <div>
        <h3 class="list-group-item-heading">{{vehicle.name}}</h3>
        <h3 class="list-group-item-text">{{vehicle.sellingPrice | currency : 'NGN': 'symbol-narrow'}}</h3>
      </div>
    </a>
    <br><br>
  </div>
</div>
