<div class="col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0 col-lg-3 col-lg-offset-0">
    <div class="list-group-item clearfix u-margin-bottom-big" style="padding: 0;" *ngIf="photos.length>0">
      <img [src]="'/uploads/' + photos[0].fileName" alt="/uploads/' + photos[0].fileName" class="img-responsive" style="background-size: cover; height: 23rem;">
      <div class="u-center-text">
        <h3 class="skcar__heading">{{vehicle.name}}</h3>
        <h3 class="car__price ">{{vehicle.sellingPrice | currency : 'NGN': 'symbol-narrow'}}</h3>
        <a (click)="edit()" class="skbtn skbtn--green u-margin-bottom-small" style="border-radius: 3px; padding: 5px;">View details</a>
      </div>
    </div>
</div>





