// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey: #777;
$color-grey-dark: #999;
$color-grey-darker: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

$color-pink-light: #ffb900;
$color-pink-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;
//VARIABLES
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;

// BOX SHADOW
$box-shadow-15: rgba($color-black, .15);