@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  /* .body-content {
    padding-top: 50px;
  } */
  .at-xs {
    visibility: visible;
  }
  .at-others {
    visibility: hidden;
  }
  .sknavigation {
    visibility: hidden;
  }
}
@media (min-width: 768px) {
  .at-xs {
    visibility: hidden;
  }
  .at-others {
    visibility: visible;
  }
  .sknavigation {
    visibility: hidden;
  }
}
